@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cinzel&display=swap");

.header {
  background: no-repeat top center fixed;
  background-size: cover;
  height: 96vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  position: relative;
}

.content {
  position: absolute;
  top: 30%;
  left: 13%;
  margin-top: -29px;
  font-family: "Cinzel", serif;
}
.name {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.hi {
  font-size: 1rem;
}
.cs {
  font-size: 25px;
  line-height: 32px;
}
@media only screen and (max-width: 768px) {
  .header {
    background-position: 80% !important;
  }
  .content {
    top: 40% !important;
    left: 5% !important;
  }
}
