<div class="footer">
  <a
    class="footer-link"
    href="https://github.com/rohithreddydepa"
    target="_blank"
  >
    <i class="pi pi-github" style="font-size: 1.5rem"></i>
  </a>

  <a
    class="footer-link"
    href="https://www.linkedin.com/in/rohith-reddy-depa/"
    target="_blank"
  >
    <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
  </a>

  <a
    class="footer-link"
    href="https://www.instagram.com/rohithreddy_depa/"
    target="_blank"
  >
    <i class="pi pi-instagram" style="font-size: 1.5rem"></i
  ></a>

  <a
    class="footer-link"
    href="https://twitter.com/RohithR79453940"
    target="_blank"
  >
    <i class="pi pi-twitter" style="font-size: 1.5rem"></i>
  </a>
</div>
<div class="footer">
  <p>© {{ currentYear }} Rohith Reddy Depa</p>
</div>
