<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lobster&family=Sansita+Swashed:wght@300&display=swap"
  rel="stylesheet"
/>
<div class="embed-responsive embed-responsive-16by9">
  <video
    autoplay
    loop
    muted
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
    class="embed-responsive-item"
    allowfullscreen
  >
    <source src="assets/background.mp4" type="video/mp4" />
  </video>
  <h1 class="content">Rohith Reddy Depa</h1>
</div>
