<p-timeline [value]="events1" align="alternate">
  <ng-template pTemplate="marker" let-event>
    <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
      <i [ngClass]="event.icon"></i>
    </span>
  </ng-template>
  <ng-template pTemplate="content" let-event>
    <p-card [header]="event.status">
      <p>
        {{ event.data.substring(0, event.data.length / 2)
        }}<span *ngIf="!event.readMore"> ...</span>
        <span *ngIf="event.readMore">
          {{ event.data.substring(event.data.length / 2) }}</span
        >
      </p>
      <button
        pButton
        type="button"
        [label]="event.readMore ? 'Show Less' : 'More'"
        class="p-button-outlined"
        (click)="readData(event.status)"
      ></button>
    </p-card>
  </ng-template>
</p-timeline>
