<div class="container-fluid">
  <h2 class="heading text-center">Skills</h2>
  <div class="row">
    <div class="col-md-5" style="margin-top: 1rem">
      <p-card>
        <h4></h4>
        <p-chart
          type="radar"
          [data]="data"
          [options]="chartOptions"
          height="350"
        ></p-chart>
      </p-card>
    </div>
    <div class="col-md-7">
      <div class="row" style="margin-top: 1rem">
        <p-card>
          <h4 class="text-center">Online Sites</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
          reprehenderit saepe optio. Sapiente quod, eum animi, et reprehenderit,
          excepturi vel deleniti id similique expedita repudiandae nulla
          voluptate Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Saepe, cumque error in deleniti velit a atque sunt voluptates
          perferendis blanditiis possimus, dolor iste, non sit quidem. Optio
          architecto voluptatem quaerat?
        </p-card>
      </div>
      <div class="row" style="margin-top: 1rem">
        <p-card>
          <h4 class="text-center">Certifications</h4>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt
          voluptates laborum facilis, et, ea exercitationem reiciendis
          consectetur quos voluptatem vel nihil quo fugit animi qui adipisci
          molestiae,Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quis numquam tempora quisquam, ex ab veritatis temporibus iste quia
          alias fuga recusandae incidunt sed velit esse exercitationem labore
          voluptate iusto accusamus.
        </p-card>
      </div>
    </div>
  </div>
</div>
