<div class="component">
  <div class="container">
    <div class="row" style="justify-content: center">
      <h1>Introduction</h1>
    </div>
    <div class="row">
      <span style="font-size: 25px">Hi there!</span>
      <span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As
        i said before iam Rohith . I am pursuing my undergrade in computer
        science and Engineering from Keshav memorial Institute of Technology
        <a href="https://www.kmit.in/" target="_blank">
          <i class="pi pi-external-link"></i>
        </a>
        .I am an android and web developer familiar with the technologies like
        java, javasrcipt, python, html, css, bootstrap, nodejs, mysql and
        mongodb. As an employee I will utilise my knowledge and given
        opportunity effectively for professional growth and to contribute in the
        best possible way for the betterment of the organisation and self
        experience.
      </span>
    </div>
  </div>
</div>
