<div class="component">
  <div class="container">
    <div class="row">
      <span class="heading">Hi there! </span>
      <span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I
        am Rohith Reddy Depa, a dedicated and highly skilled individual with a
        solid foundation in computer science. Currently, I am pursuing my
        Master's degree in Computer Science and working as a Research Assistant
        at the University of Houston.
        <a href="https://www.uh.edu" target="_blank">
          <i class="pi pi-external-link"></i>
        </a>
        <br />
        <br />
        I am an Web and App developer familiar with the technologies like java,
        javasrcipt, python, html, css, bootstrap, nodejs, mysql and mongodb. As
        an employee I will utilise my knowledge and given opportunity
        effectively for professional growth and to contribute in the best
        possible way for the betterment of the organisation and self experience.
      </span>
    </div>
  </div>
</div>
