<div class="theme-wrapper" (click)="changeTheme()">
  <img
    [src]="
      dTheme ? '../assets/brightness-high.svg' : '../assets/moon-stars-fill.svg'
    "
    alt="Theme toggle"
    class="theme-btn"
  />
</div>
<div [ngClass]="dTheme ? 'dark' : 'light'">
  <div
    class="ripple"
    *ngIf="toggleAnimation"
    [ngStyle]="{ 'background-color': dTheme ? 'white' : 'black' }"
  ></div>
  <app-header></app-header>
  <app-introduction></app-introduction>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-footer></app-footer>
</div>
