.dark {
  background-color: #121212;
  color: white;
}
.light {
  background-color: white;
  color: black;
}
.theme-wrapper {
  z-index: 1000 !important;
  position: fixed;
  right: 0;
  bottom: 70%;
  height: 40px;
  width: 40px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: white;
  .theme-btn {
    height: 2rem;
    margin-top: 4px;
    padding-left: 6px;
  }
}
